{# MACRO: format a post-paragraph link reference in RST #}
{%    macro format_link_reference(link, label)
%}{{    ".. _%s: %s" | format(label, link)
}}{%  endmacro
%}

{# MACRO: generate a heading underline that matches the exact length of the header #}
{%    macro generate_heading_underline(header, underline_char)
%}{%    set header_underline = []
%}{%    for _ in header
%}{{      header_underline.append(underline_char) | default("", true)
}}{%    endfor
%}{#    # Print out the header underline
#}{{    header_underline | join
}}{%  endmacro
%}

{#
  MACRO: format the breaking changes description by:
  - Capitalizing the description
  - Adding an optional scope prefix
#}{%  macro format_breaking_changes_description(commit)
%}{%    set ns = namespace(full_description="")
%}{#
#}{%    for paragraph in commit.breaking_descriptions
%}{%      if paragraph | trim | length > 0
%}{%        set paragraph_text = [
              paragraph.split(" ", maxsplit=1)[0] | capitalize,
              paragraph.split(" ", maxsplit=1)[1]
            ] | join(" ") | trim | safe
%}{%        set ns.full_description = [ns.full_description, paragraph_text] | join("\n\n")
%}{%      endif
%}{%    endfor
%}{#
#}{%    set ns.full_description = ns.full_description | trim
%}{#
#}{%    if commit.scope
%}{%      set ns.full_description = "**%s**: %s" | format(commit.scope, ns.full_description)
%}{%    endif
%}{#
#}{{    ns.full_description
}}{%  endmacro
%}
