{#  EXAMPLE:

## vX.X.X (YYYY-MMM-DD)

_This release is published under the MIT License._

- Initial Release

#}{{
"## %s (%s)" | format(
    release.version.as_semver_tag(),
    release.tagged_date.strftime("%Y-%m-%d")
)
}}{%  if license_name is defined and license_name
%}{%    "_This release is published under the %s License._" | format(license_name)
%}{%  endif
%}

- Initial Release
